* {
  padding: 0;
  margin: 0;
  border-box :box-sizing;

}

.container{

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(Frame\ 1.png);

}

.content{
    
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px; 
}


.profil img{
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    object-position: center;

}
.name,
.email,
.password{
    display: block;
    margin: 10px;
}
label{
    display: block;
}
input{
    text-align: center;
    height: 30px;
    width: 300px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    
}

button{
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    border: 1px solid black;
    border: 5px;
    background: blueviolet;
}

p{
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}


